// fonts
$font-main: 'Roboto', sans-serif;
$font-regular: 300;
$font-medium: 600;
$font-bold: 900;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$color-title: #4c8eaf;
$background-color-friend: rgb(238, 70, 132);
$color-text: rgb(74, 70, 70);
$color-friend: #d5d9dc;
