.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: flex-start;
  background-color: $color-bg;
  margin: 20px;
  font-family: $font-main;
  font-size: 20px;
  font-weight: $font-medium;
  text-align: center;
  color: $color-text;
  padding: 20px;
}

.user_card {
  padding: 20px;
  width: 50%;
  margin: 10px auto;
  border-radius: 15px;
  cursor: pointer;
}

.userName {
  padding-bottom: 20px;
}

.isFriend {
  background-color: $background-color-friend;
  color: $color-friend;
}

.image {
  border-radius: 30px;
}
